.dropzone {
    padding: 20px;
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.files-image {
    width: 120px;
    height: 120px;
    margin: 16px;
    float: left;
    position: relative;
    cursor: pointer;
    border: #e8e8e8 solid 1px;
    box-sizing: border-box;
}
.files-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.files-image:hover {
    opacity: 0.6;
}
.user-select {
    max-height: 300px;
    overflow: scroll;
}

.doc-entry {
    margin-bottom: 35px;
    border-top: solid 1px #e8e8e8;
}
.doc-entry:first-child {
    border-top: none;
}

.doc-entry h1, .doc-entry h2, .doc-entry h3 {
    color: #793862;
    border-bottom: 1px dotted;
    line-height: 3.5rem;
}
.doc-entry h1 {
    line-height: 5rem;
}
.doc-body h2 {
    font-size: 18px;
}
.doc-body h3 {
    font-size: 16px;
}
.doc-body h4, .doc-body h5 {
    font-size: 14px;
}
.doc-body dt {
    font-size: 18px;
    color: #369;
    font-weight: bold;
}
.doc-body dd {
    padding: 0 1.5rem;
    margin: 0 0 1rem 0;
}
.doc-define, .doc-code {
    background-color: white;
}
.nav>li>p {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 0;
}
.database .table td, .database .table th {
    word-break: break-all;
    min-width: 80px;
}
.database .table td div, .database .table th div {
    overflow-y: scroll;
    max-height: 150px;
}